.controlButtons {

}

.controls {

  display: flex;
  justify-content: space-between;
}

.searchBlock {

}

.activeFilters {
  display: flex;
}

.resetButton {
  margin-left: auto;
}

.bottomItemMenu {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
